// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568.dtsi"

/ {
  	model = "GZPEITE RK3568 P01";
  	compatible = "gzpeite,rk3568-p01","rockchip,rk3568";

  	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
    		mmc0 = &sdmmc0;
    		mmc1 = &sdmmc1;
    		mmc2 = &sdhci;
    		mmc3 = &sdmmc2;
    		rtc1 = &pcf8563;
  	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	hdmi-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

  	dc_12v: dc-12v {
    		compatible = "regulator-fixed";
    		regulator-name = "dc_12v";
    		regulator-always-on;
    		regulator-boot-on;
    		regulator-min-microvolt = <12000000>;
    		regulator-max-microvolt = <12000000>;
  	};

	gmac0_clkin: external-gmac0-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac0_clkin";
		#clock-cells = <0>;
	};

	gmac1_clkin: external-gmac1-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac1_clkin";
		#clock-cells = <0>;
	};

  	vcc3v3_sys: vcc3v3-sys {
    		compatible = "regulator-fixed";
    		regulator-name = "vcc3v3_sys";
    		regulator-always-on;
    		regulator-boot-on;
    		regulator-min-microvolt = <3300000>;
    		regulator-max-microvolt = <3300000>;
    		vin-supply = <&dc_12v>;
  	};

  	vcc5v0_sys: vcc5v0-sys {
    		compatible = "regulator-fixed";
    		regulator-name = "vcc5v0_sys";
    		regulator-always-on;
    		regulator-boot-on;
    		regulator-min-microvolt = <5000000>;
    		regulator-max-microvolt = <5000000>;
    		vin-supply = <&dc_12v>;
  	};

	vcc5v0_usb: regulator-vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		enable-active-high;
		gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-always-on;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc5v0_otg: vcc5v0-otg {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		enable-active-high;
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en>;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc5v0_lte: regulator-vcc5v0-lte {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_lte_en>;
		regulator-name = "vcc5v0_lte";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usb>;
	};

  	vcc3v3_pcie: gpio-regulator {
    		compatible = "regulator-fixed";
    		regulator-name = "vcc3v3_pcie";
    		regulator-min-microvolt = <3300000>;
    		regulator-max-microvolt = <3300000>;
    		enable-active-high;
    		regulator-always-on;
    		gpio = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
    		startup-delay-us = <5000>;
    		vin-supply = <&dc_12v>;
  	};

  	rk_headset: rk-headset {
    		status = "okay";
    		compatible = "rockchip_headset";
    		headset_gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
    		pinctrl-names = "default";
    		pinctrl-0 = <&hp_det>;
  	};

  	sdio_pwrseq: sdio-pwrseq {
    		compatible = "mmc-pwrseq-simple";
    		clocks = <&rk809 1>;
    		clock-names = "ext_clock";
    		pinctrl-names = "default";
    		pinctrl-0 = <&wifi_enable_h>;
    		post-power-on-delay-ms = <200>;
    		reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
  	};

  	wireless_wlan: wireless-wlan {
    		status = "okay";
    		compatible = "wlan-platdata";
    		rockchip,grf = <&grf>;
    		wifi_chip_type = "";
    		//pinctrl-names = "default";
    		//pinctrl-0 = <&wifi_enable_h>;
   		//pinctrl-0 = <&wifi_host_wake_irq>;
    		//WIFI,host_wake_irq = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
    		//WIFI,poweren_gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
    		keep_wifi_power_on;
  	};

  	wireless_bluetooth: wireless-bluetooth {
    		status = "okay";
    		compatible = "bluetooth-platdata";
    		clocks = <&rk809 1>;
    		clock-names = "ext_clock";
    		//wifi-bt-power-toggle;
    		uart_rts_gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
    		pinctrl-names = "default", "rts_gpio";
    		pinctrl-0 = <&uart8m0_rtsn>;
    		pinctrl-1 = <&uart8_gpios>;
    		BT,reset_gpio = <&gpio3 RK_PA0 GPIO_ACTIVE_HIGH>;
    		BT,wake_gpio = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
    		//BT,wake_host_irq = <&gpio2 RK_PD7 GPIO_ACTIVE_HIGH>;
  	};

  	adc_keys: adc-keys {
    		compatible = "adc-keys";
    		io-channels = <&saradc 0>;
    		io-channel-names = "buttons";
    		keyup-threshold-microvolt = <1800000>;
    		poll-interval = <100>;

    		vol-up-key {
      			label = "volume up";
      			linux,code = <KEY_VOLUMEUP>;
      			press-threshold-microvolt = <1750>;
    		};

    		vol-down-key {
      			label = "volume down";
      			linux,code = <KEY_VOLUMEDOWN>;
      			press-threshold-microvolt = <297500>;
    		};

    		menu-key {
      			label = "menu";
      			linux,code = <KEY_MENU>;
      			press-threshold-microvolt = <980000>;
    		};

    		back-key {
      			label = "back";
      			linux,code = <KEY_BACK>;
      			press-threshold-microvolt = <1305500>;
    		};
  	};
};

&combphy0 {
	status = "okay";
};

&combphy1 {
	status = "okay";
};

&combphy2 {
	status = "okay";
};

&xpcs {
  	status = "okay";
};

&gmac0 {
  	status = "okay";
  	phy-mode = "rgmii";
  	clock_in_out = "output";

  	snps,reset-gpio = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
  	snps,reset-active-low;
  	/* Reset time is 20ms, 100ms for rtl8211f */
  	snps,reset-delays-us = <0 20000 100000>;

  	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
  	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&gmac0_clkin>;
  	assigned-clock-rates = <0>, <125000000>, <25000000>;

  	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
			&gmac0_tx_bus2
			&gmac0_rx_bus2
			&gmac0_rgmii_clk
			&gmac0_rgmii_bus
			&gmac0_clkinout>;

	tx_delay = <0x3c>;
	rx_delay = <0x2f>;
    
  	phy-handle = <&rgmii_phy0>;
};

&gmac1 {
  	status = "okay";
  	phy-mode = "rgmii";
  	clock_in_out = "output";

  	snps,reset-gpio = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
  	snps,reset-active-low;
  	/* Reset time is 20ms, 100ms for rtl8211f */
  	snps,reset-delays-us = <0 20000 100000>;

  	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
  	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&gmac1_clkin>;
  	assigned-clock-rates = <0>, <125000000>, <25000000>;

  	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
			&gmac1m1_tx_bus2
			&gmac1m1_rx_bus2
			&gmac1m1_rgmii_clk
			&gmac1m1_rgmii_bus
			&gmac1m1_clkinout>;

	tx_delay = <0x4f>;
	rx_delay = <0x26>;

  	phy-handle = <&rgmii_phy1>;
};

&mdio0 {
  	rgmii_phy0: phy@0 {
    	compatible = "ethernet-phy-ieee802.3-c22";
    	reg = <0x0>;
    	//clocks = <&cru CLK_MAC0_OUT>;
  	};
};

&mdio1 {
  	rgmii_phy1: phy@0 {
    	compatible = "ethernet-phy-ieee802.3-c22";
    	reg = <0x0>;
    	//clocks = <&cru CLK_MAC1_OUT>;
  	};
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&i2c0 {
  	status = "okay";

  	vdd_cpu: regulator@1c {
    		compatible = "tcs,tcs4525";
    		reg = <0x1c>;
    		vin-supply = <&vcc5v0_sys>;
    		regulator-compatible = "fan53555-reg";
    		regulator-name = "vdd_cpu";
    		regulator-min-microvolt = <712500>;
    		regulator-max-microvolt = <1390000>;
    		regulator-init-microvolt = <900000>;
    		regulator-initial-mode = <1>;
    		regulator-ramp-delay = <2300>;
    		fcs,suspend-voltage-selector = <1>;
    		regulator-boot-on;
    		regulator-always-on;

    		regulator-state-mem {
      			regulator-off-in-suspend;
    		};
  	};

  	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells = <1>;
		#sound-dai-cells = <0>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		rockchip,system-power-controller;
		wakeup-source;

    		vcc1-supply = <&vcc3v3_sys>;
    		vcc2-supply = <&vcc3v3_sys>;
    		vcc3-supply = <&vcc3v3_sys>;
    		vcc4-supply = <&vcc3v3_sys>;
    		vcc5-supply = <&vcc3v3_sys>;
    		vcc6-supply = <&vcc3v3_sys>;
    		vcc7-supply = <&vcc3v3_sys>;
    		vcc8-supply = <&vcc3v3_sys>;
    		vcc9-supply = <&vcc3v3_sys>;

    		regulators {
      			vdd_logic: DCDC_REG1 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <500000>;
        			regulator-max-microvolt = <1350000>;
       		 		regulator-init-microvolt = <900000>;
        			regulator-ramp-delay = <6001>;
        			regulator-initial-mode = <0x2>;
        			regulator-name = "vdd_logic";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vdd_gpu: DCDC_REG2 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <500000>;
        			regulator-max-microvolt = <1350000>;
        			regulator-init-microvolt = <900000>;
        			regulator-ramp-delay = <6001>;
        			regulator-initial-mode = <0x2>;
        			regulator-name = "vdd_gpu";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcc_ddr: DCDC_REG3 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-initial-mode = <0x2>;
        			regulator-name = "vcc_ddr";
        			regulator-state-mem {
          				regulator-on-in-suspend;
        			};
      			};

      			vdd_npu: DCDC_REG4 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <500000>;
        			regulator-max-microvolt = <1350000>;
        			regulator-init-microvolt = <900000>;
        			regulator-ramp-delay = <6001>;
        			regulator-initial-mode = <0x2>;
        			regulator-name = "vdd_npu";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vdda0v9_image: LDO_REG1 {
        			regulator-boot-on;
        			regulator-always-on;
        			regulator-min-microvolt = <900000>;
        			regulator-max-microvolt = <900000>;
        			regulator-name = "vdda0v9_image";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vdda_0v9: LDO_REG2 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <900000>;
        			regulator-max-microvolt = <900000>;
        			regulator-name = "vdda_0v9";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vdda0v9_pmu: LDO_REG3 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <900000>;
        			regulator-max-microvolt = <900000>;
        			regulator-name = "vdda0v9_pmu";
        			regulator-state-mem {
          				regulator-on-in-suspend;
          				regulator-suspend-microvolt = <900000>;
        			};
      			};

      			vccio_acodec: LDO_REG4 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <3000000>;
        			regulator-max-microvolt = <3000000>;
        			regulator-name = "vccio_acodec";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vccio_sd: LDO_REG5 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <1800000>;
        			regulator-max-microvolt = <3300000>;
        			regulator-name = "vccio_sd";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcc3v3_pmu: LDO_REG6 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <3300000>;
        			regulator-max-microvolt = <3300000>;
        			regulator-name = "vcc3v3_pmu";
        			regulator-state-mem {
          				regulator-on-in-suspend;
          				regulator-suspend-microvolt = <3300000>;
        			};
      			};

      			vcca_1v8: LDO_REG7 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <1800000>;
        			regulator-max-microvolt = <1800000>;
        			regulator-name = "vcca_1v8";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcca1v8_pmu: LDO_REG8 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <1800000>;
        			regulator-max-microvolt = <1800000>;
        			regulator-name = "vcca1v8_pmu";
        			regulator-state-mem {
          				regulator-on-in-suspend;
          				regulator-suspend-microvolt = <1800000>;
        			};
      			};

      			vcca1v8_image: LDO_REG9 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <1800000>;
        			regulator-max-microvolt = <1800000>;
        			regulator-name = "vcca1v8_image";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcc_1v8: DCDC_REG5 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-min-microvolt = <1800000>;
        			regulator-max-microvolt = <1800000>;
        			regulator-name = "vcc_1v8";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcc_3v3: SWITCH_REG1 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-name = "vcc_3v3";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};

      			vcc3v3_sd: SWITCH_REG2 {
        			regulator-always-on;
        			regulator-boot-on;
        			regulator-name = "vcc3v3_sd";
        			regulator-state-mem {
          				regulator-off-in-suspend;
        			};
      			};
    		};
	};
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	rockchip,trcm-sync-tx-only;
	status = "okay";
};

&i2c1 {
  	status = "okay";

  	pcf8563: pcf8563@51 {
    		compatible = "nxp,pcf8563";
    		reg = <0x51>;
    		#clock-cells = <0>;
    		status = "okay";
  	};

};

&i2c2 {
  	status = "okay";
  	pinctrl-names = "default";
  	pinctrl-0 = <&i2c2m1_xfer>;

  	nxpnfc: nxpnfc@28 {
    		status = "okay";
    		compatible = "nxp,nxpnfc";
    		reg = <0x28>;
    		nxp,nxpnfc-irq = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
    		nxp,nxpnfc-ven = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
    		nxp,nxpnfc-fw-dwnld = <&gpio1 RK_PA0 GPIO_ACTIVE_LOW>;
  	};
};

&i2c3 {
  	status = "disabled";
};

&i2c5 {
    	status = "okay";
};

&pmu_io_domains {
  	status = "okay";
  	pmuio2-supply = <&vcc3v3_pmu>;
  	vccio1-supply = <&vccio_acodec>;
  	vccio3-supply = <&vccio_sd>;
  	vccio4-supply = <&vcc_1v8>;
  	vccio5-supply = <&vcc_3v3>;
  	vccio6-supply = <&vcc_1v8>;
  	vccio7-supply = <&vcc_3v3>;
};

&pwm0 {
  	status = "okay";
};

&pwm1 {
  	status = "okay";
};

&pwm2 {
  	status = "okay";
};

&pwm3 {
  	status = "disabled";
};

&pwm4 {
  	status = "okay";
};

&pwm5 {
  	status = "okay";
};

&pwm6 {
  	status = "okay";
};

&pwm7 {
  	status = "okay"; //IR
};

&hdmi {
	avdd-0v9-supply = <&vdda0v9_image>;
	avdd-1v8-supply = <&vcca1v8_image>;
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&uart2 {
	status = "okay"; //debug ttl
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};

&uart7 {
  	status = "disabled";
};

&uart8 {
  	status = "okay";
  	pinctrl-names = "default";
  	pinctrl-0 = <&uart8m0_xfer>, <&uart8m0_ctsn>;
};

&uart9 {
  	status = "disabled";
};

&saradc {
  	status = "okay";
  	vref-supply = <&vcca_1v8>;
};

&pcie30phy {
  	status = "okay";
};

&pcie3x2 {
  	reset-gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
  	vpcie3v3-supply = <&vcc3v3_pcie>;
  	status = "okay";
};

&sata2 {
  	status = "okay";
};

&sdhci {
  	status = "okay";
  	bus-width = <8>;
  	supports-emmc;
  	non-removable;
  	max-frequency = <200000000>;
  	no-sdio;
  	no-sd;
  	full-pwr-cycle-in-suspend;
};

&sdmmc0 {
  	max-frequency = <150000000>;
  	supports-sd;
  	no-sdio;
  	no-mmc;
  	bus-width = <4>;
  	cap-mmc-highspeed;
  	cap-sd-highspeed;
  	disable-wp;
  	sd-uhs-sdr104;
  	vmmc-supply = <&vcc3v3_sd>;
  	vqmmc-supply = <&vccio_sd>;
  	pinctrl-names = "default";
  	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
  	status = "okay";
};

&sdmmc2 {
  	status = "okay";
  	max-frequency = <150000000>;
  	no-sd;
  	no-mmc;
  	supports-sdio;
  	bus-width = <4>;
  	disable-wp;
  	cap-sd-highspeed;
  	cap-sdio-irq;
  	keep-power-in-suspend;
  	mmc-pwrseq = <&sdio_pwrseq>;
  	non-removable;
  	pinctrl-names = "default";
  	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_cmd &sdmmc2m0_clk>;
 	//sd-uhs-sdr104;
};

&tsadc {
  	status = "okay";
};

&usb2phy0_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy0_otg {
	status = "okay";
};

&usb2phy1_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy1_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host0_xhci {
	extcon = <&usb2phy0>;
	status = "okay";
};

&usb_host1_xhci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&pinctrl {

  	headphone {
    		hp_det: hp-det {
      			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
    		};
  	};

  	pmic {
    		pmic_int: pmic_int {
      			rockchip,pins =
        			<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
    		};
  	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc5v0_lte_en: vcc5v0_lte_en {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>; // bsp
		};
		vcc5v0_lte_rst: vcc5v0_lte_rst {
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>; // bsp
		};
	};

  	sdio-pwrseq {
    		wifi_enable_h: wifi-enable-h {
      			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
    		};
  	};

  	wireless-wlan {
    		wifi_host_wake_irq: wifi-host-wake-irq {
      			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_down>;
    		};
  	};

  	wireless-bluetooth {
    		uart8_gpios: uart8-gpios {
      			rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
    		};
  	};
};

&rng {
  	status = "okay";
};

&dfi {
  	status = "okay";
};

&vpu {
  	status = "okay";
};

&vdpu_mmu {
  	status = "okay";
};

&rga {
  	status = "okay";
};

&vepu {
  	status = "okay";
};

&vepu_mmu {
  	status = "okay";
};

&vop {
  	status = "okay";
  	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
  	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
  	disable-win-move;
};

&vop_mmu {
  	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};
