// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2017 Andreas Färber
 * Copyright (c) 2018 Manivannan Sadhasivam
 */

/dts-v1/;

#include "rda8810pl.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "xunlong,orangepi-2g-iot", "rda,8810pl";
	model = "Orange Pi 2G-IoT";

	aliases {
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		mmc0 = &sdmmc0;
		mmc1 = &sdmmc1;
		i2c0 = &i2c0;
	};

	chosen {
		stdout-path = "serial2:921600n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};

	uart_clk: uart-clk {
		compatible = "fixed-clock";
		clock-frequency = <921600>;
		#clock-cells = <0>;
	};

	rda_out_clk: rda-out-clk {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		#clock-cells = <0>;
		clock-output-names = "clk_out";
	};

	rda_aux_clk: rda-aux-clk {
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
		#clock-cells = <0>;
		clock-output-names = "aux_clk";
	};

	v_bt_reg: v-bt-regulator {
		compatible = "regulator-fixed";
		regulator-name = "v_bt";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	v_usb_reg: v-usb-regulator {
		compatible = "regulator-fixed";
		regulator-name = "v_usb";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	rda_combo_net: combo-net {
		compatible = "rda,8810pl-combo-net";
		clocks = <&rda_out_clk>, <&rda_aux_clk>;
		clock-names = "rda_out", "rda_aux";
		v_bt-supply = <&v_bt_reg>;
		status = "okay";
	};
};

&uart1 {
	status = "okay";
	clocks = <&uart_clk>;
};

&uart2 {
	status = "okay";
	clocks = <&uart_clk>;
};

&uart3 {
	status = "okay";
	clocks = <&uart_clk>;
};

&sdmmc0 {
	status = "okay";
	bus-width = <4>;
	max-frequency = <30000000>;
	rda,mclk-adj = <1>;
	rda,clk-inv;
	cap-sd-highspeed;
};

&sdmmc1 {
	status = "okay";
	bus-width = <4>;
	cap-sdio-irq;
	keep-power-in-suspend;
	min-frequency = <1000000>;
	max-frequency = <20000000>;
	rda,mclk-adj = <3>;
	rda,clk-inv;
	sdio-safe-frequency = <6000000>;
	sdio-ultra-safe-frequency = <1000000>;
	rda,sdio-eirq-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
};

&i2c0 {
	status = "okay";

	wifi_rf@14 {
		compatible = "rda_wifi_rf_i2c";
		reg = <0x14>;
	};

	wifi_core@13 {
		compatible = "rda_wifi_core_i2c";
		reg = <0x13>;
	};

	bt_rf@16 {
		compatible = "rda_bt_rf_i2c";
		reg = <0x16>;
	};

	bt_core@15 {
		compatible = "rda_bt_core_i2c";
		reg = <0x15>;
	};
};

&usb_phy {
	vbus-supply = <&v_usb_reg>;
	status = "okay";
};

&usb {
	status = "okay";
	rda,vbus-switch-gpios = <&gpioa 17 GPIO_ACTIVE_HIGH>;
	rda,plugin-ctrl-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
};
